;; Copyright (c) Cognitect, Inc.
;; All rights reserved.

{:paths ["src" "resources"]
 :deps {;; The ion library includes helpers for interacting with
        ;; AWS, e.g. the ionize function to convert a Ring-like
        ;; web function so that it implements the contract expected
        ;; by AWS API Gateway.
        com.datomic/ion {:mvn/version "0.9.26"}
        com.datomic/client-cloud {:mvn/version "0.8.63"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/clojure {:mvn/version "1.10.1"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}}

